.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.product {
  margin-bottom: 1em
}

.productName { 
  font-weight: bold
}

.freeProduct {
  font-weight: bold;
  color: red
}

.newProduct {
  font-weight: bold;
  color: blue;
}

.App-intro {
  font-size: large;
}
